<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240049270898-b4n7j2sm1hgu4m08nv08gh41nmppciad.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240049270898-b4n7j2sm1hgu4m08nv08gh41nmppciad</string>
	<key>API_KEY</key>
	<string>AIzaSyBm8bLpx26rfF7PLr9FYzbnwTwr9EiV7PM</string>
	<key>GCM_SENDER_ID</key>
	<string>240049270898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pascalboehler.wsie</string>
	<key>PROJECT_ID</key>
	<string>wsie-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>wsie-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240049270898:ios:4913d023c77d2947</string>
	<key>DATABASE_URL</key>
	<string>https://wsie-ios.firebaseio.com</string>
</dict>
</plist>